@import '../variables.scss';
@import 'bourbon';

$handle-size: 14px;

div.handle {
  position: absolute;
  border-radius: 50%;
  background-color: $dark-grey;
  mix-blend-mode: screen;
  cursor: pointer;
  z-index: 1;
  @include transform(translate(-50%, -50%));
}
