@import '../variables.scss';

$handle-size: 14px;

div.handle {
  position: absolute;
  // width: $handle-size;
  // height: $handle-size;
  border-radius: 50%;
  background-color: $dark-grey;
  cursor: pointer;
  z-index: 1;
}
