@import './variables.scss';
@import './components/axis-pad.scss';


body {
  margin: 0;
}

div.container {
  div.header {
    text-align: center;
    height: 10rem;
    box-shadow: 0 0 2rem 0 $dark-grey;
    background-color: $blue;

    h1 {
      height: 10rem;
      color: white;
      line-height: 10rem;
      font-family: sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
    }
  }

  div.content {
    div.output {
      font-size: 20px;
      font-family: sans-serif;
      text-align: center;
      margin-bottom: 2rem;
    }

    padding: 6rem 0 3rem 0;
  }
}
